:root {
    font-family: "Berkeley Mono", monospace;
    --text-color: #08e608;
    --header-color: #0292fa;
}

body {
    height: 100vh;
    margin: 0;
    background-color: black;
    display: grid;
    grid-template-areas: "page" "shortcuts";
    grid-template-rows: 1fr 2.5em;
}

@media only screen and (max-device-width: 480px){
    body {
        grid-template-rows: 1fr 5em;
    }   
}

.page {
    grid-area: page;
    display: grid;
    grid-template-areas: "title" "sections";
    grid-template-rows: auto 1fr;
}

h1 {
    grid-area: title;
    color: white;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form {
    grid-area: sections;
}

section > form:not(:first-child) {
    border-block-start-color: var(--text-color);
    border-block-start-style: dashed;
    border-block-start-width: .2em;
    margin-block-start: 1em;
}

form > aside {
    font-size: 1.5rem;
    color: var(--text-color);
}

h2 {
    color: var(--header-color);
    font-size: 1.5rem;
}

@media only screen and (max-device-width: 480px){
    h2 {
        font-size:  4rem;
    }

    form > aside {
        font-size: 2.5rem;
        color: var(--text-color);
    }
}

h2:before {
    content: '## '
}

.field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
}

@media only screen and (max-device-width: 480px){
    .field {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        font-size: 2.5rem;
    }   
}

.field:focus-within > label, em {
    color: white;
    font-style: italic;
}

.field:focus-within > label:after {
    content: '...'
}

.invalid-field {
    background-color: red;
    
}
.invalid-field > label {
    color: white;
}

input {
    background-color: black;
    border-color: var(--text-color);
    border-block-start: none;
    border-inline: none;
    color: white;
    font-size: 1.5rem;
}

input:focus-within {
    background-color: var(--text-color);
    color: black;
    outline: none;
}

input:invalid {
    background-color: red;
}

select {
    appearance: none;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    border-color: var(--text-color);
    border-block-start: none;
    border-inline: none;
}

@media only screen and (max-device-width: 480px){
    select {
        font-size: 2.5rem;
    }   
}

select:focus-within {
    background-color: var(--text-color);
    color: black;
    outline: none;
}

option {
    background-color: black;
    color: white;
}

option:hover {
    color: var(--text-color);
}

label {
    color: var(--text-color);
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}


fieldset input[type="radio"] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

fieldset input[type="radio"]:checked + label {
    background-color: var(--text-color);
    color: black;
}

fieldset > label:focus-visible {
    background-color: var(--text-color);
    color: black;
    outline: none;
}

footer {
    grid-area: shortcuts;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

footer > button {
    background-color: gray;
    color: black;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

footer > button:focus-within, footer > button:hover {
    background-color: black;
    color: white;
    outline: var(--text-color) solid 3px;
}

dialog {
    background-color: black;
    color: var(--text-color);
    font-size: 1.5rem;
    border-width: 4px;
}

@media only screen and (max-device-width: 480px){
    dialog {
        font-size: 2.5rem;
    }   
}

dialog:focus-within {
    outline: none;
}

dialog::backdrop {
    backdrop-filter: blur(0.5rem);
}

a {
    color: var(--text-color);
}

a:visited {
    text-decoration-color: var(--header-color);
}

